<!--The content below is only a placeholder and can be replaced.-->
<section class="wrapper">
  <section class="left-blue-part"></section>

  <!--header part start-->
  <authority-nav-bar></authority-nav-bar>
  <!-- header part ends -->

  <section class="pos-relative">
    <section class="shadow-container d-flex">
      <section class="left-menu">
        <!--navigation menu start here-->
        <authority-side-bar></authority-side-bar>
        <!--navigation menu end here-->
      </section>

      <!-- Router outlet starts-->
      <section class="w-100 h-100">
        <router-outlet></router-outlet>
      </section>
      <!-- Router outlet ends -->

    </section>
    <!-- popup box design start here -->
    
  </section>

  <!-- CONFIRM BOX -->
  
</section>