<div class="modal-header">
  <div class="d-flex justify-content-center w-100">
      <div class="d-flex flex-column">
          <h4 class="modal-title">Add a New Scope</h4>
          <div class="d-flex justify-content-center timeline-container position-relative">
              <div class="display-cell">
                  <div class="icon-white-dot"></div>
                  <div class="timeline-white-text">Basic Details</div>
              </div>
              <div class="display-cell">
                  <div class="line-blue"></div>
              </div>
              <div class="display-cell">
                  <div class="icon-blue-dot"></div>
                  <div class="timeline-white-text">Assign User</div>
              </div>
          </div>
      </div>
  </div>
  <button type="button" class="close" data-dismiss="modal" title="Close">&times;</button>
</div>
<div class="modal-body">
  <div class="body-head-text">Enter some basic details</div>
  <div class="m-t15px d-flex flex-wrap">
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 no-padding form-p-r">
          <div class="head-text">
              Client ID <span class="icon-qun"></span>
          </div>
          <div>
              <input type="number" value="" class="form-input" placeholder="123">
          </div>
          <div class="head-text m-t15px">
              Display Name <span class="icon-qun"></span>
          </div>
          <div>
              <input type="text" value="" class="form-input" placeholder="123">
          </div>
      </div>
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 no-padding form-p-l tab-pt">
          <div class="head-text">
              Description
          </div>
          <div>
              <textarea id="" class="form-textarea">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</textarea>
          </div>
      </div>
  </div>
</div>
<div class="modal-footer d-flex justify-content-between">
  <button type="button" class="btn-pink" data-dismiss="modal" title="Cancel">Cancel</button>
  <button type="button" class="btn-gray" data-dismiss="modal" data-toggle="modal" data-target="#protectedresource1" title="Next">Next</button>
</div>